.input-port {
    border-width: 3px;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    margin-right: auto;
    transform: translateX(-50%);
}

.input-port.rejected {
    background-color: red;
    border: dashed;
}

.input-port.default {
    background-color: white;
    border: solid black;

}