.node {
    border-width: 2px;
    border-color: black;
    border-style: solid;
    position: absolute;
    border-radius: 5px;
    background: yellow;
}

.io-port + .io-port  {
  margin-top: 25px;
}